@import 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,700';

.content-result {
	margin-bottom: 0;
}
.margin-bot {
	margin-bottom: 1em;
}

.content {
	margin-bottom: 2.5em;
}

.text-position {
	text-align: center;
}

.text-color {
	color: #fff;
}

@media screen and (min-width: 768px) {
	.content-m {
		margin-bottom: 2em;
	}
	.text-align-m {
		text-align: left;
	}
}

html {
	background: #92539f;
	color: #333;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.has-answer {
	list-style-type: none;
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
}
.answer {
	font-weight: 700;
}
.answer-link {
	border: 2px solid #ddd;
	border-radius: 6px;
	color: #333;
	display: block;
	font-size: 90%;
	padding: 0.6em;
	padding-left: 2.5em;
	position: relative;
}
@media screen and (min-width: 768px) {
	.answer-link {
		font-size: 100%;
	}
}
.answer-link:active, 
.answer-link:focus, 
.answer-link:hover, 
.answer-link.is-selected {
	border-color: #92539f;
	color: #333;
}
.answer-link.is-selected::before {
	background: #92539f;
	color: #333;
}
.answer-link::before {
	background: #ddd;
	border-radius: 50%;
	content: '';
	display: block;
	height: 20px;
	left: 0.6em;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 20px;
}

.brand {
	display: block;
	text-align: center;
}

.brand-top {
	margin-bottom: 2em;
}

.brand-bottom {
	margin-top: 2em;
	opacity: 0.5;
}
.brand-bottom:active, 
.brand-bottom:focus, 
.brand-bottom:hover {
	opacity: 1;
}

.brand-img {
	display: block;
	margin: 0 auto;
}

.bucket-content {
	display: table-cell;
	vertical-align: middle;
	width: 10000px;
}
.bucket-media > img {
	display: block;
	margin-bottom: 1.25em;
	max-width: none;
}
@media screen and (min-width: 768px) {
	.bucket {
		display: table;
	}
	.bucket-media {
		float: left;
		margin-bottom: 0;
		margin-right: 1.25em;
	}
}

.btn {
	background: #92539f;
	border-bottom: 4px solid rgba(0, 0, 0, 0.3);
	border-radius: 40px;
	border: 0;
	color: #faf6fa;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	line-height: 3.2;
	overflow: hidden;
	padding: 0 2.5em;
	position: relative;
}

.btn:active, 
.btn:focus, 
.btn:hover {
	background: #73427d;
	color: #fff;
}

.btn-b {
	background: #de3a95;
	line-height: 2.5;
}

.btn-b:active, 
.btn-b:focus, 
.btn-b:hover {
	background: #c4217b;
	color: #fff;
}

.btn[disabled] {
	opacity: 0.4;
}

.btn[disabled]:active, 
.btn[disabled]:focus, 
.btn[disabled]:hover {
	background: #92539f;
	color: #fff;
}

.card {
  padding: 1.25em;
  position: relative;
}

@media screen and (min-width: 768px) {
  .card {
    border-radius: 6px;
  }
}

.card-a {
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.card-b {
  border: 2px solid #ddd;
}

.card-l {
  padding: 1.25em;
}

@media screen and (min-width: 768px) {
  .card-l {
    padding: 2.5em;
  }
}

.cell {
  margin: 2.5em auto 5em;
  max-width: 50em;
}

.character {
  margin: 0 auto;
}

.character-description {
	font-size: 90%;
}

.characterList {
	list-style-type: none;
	margin: 0;
	margin-bottom: 1.25em;
	padding: 10px;
}

.characterList-item {
  display: block;
  position: relative;
}

.characterList-item:last-child {
  padding-right: 0;
}

.characterList-item img {
  display: block;
  margin: 0 auto 0.625em;
  width: 40%;
}

.characterList-item-title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .characterList-item img {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .characterList-item {
    float: left;
    min-height: 210px;
    width: 25%;
  }
  .characterList-item img {
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 90%;
  }
  .characterList-item-unicorn img, .characterList-item-rainbow img {
    top: 30px;
  }
  .characterList-item-title {
    bottom: 0;
    position: absolute;
  }
}

.share {
  text-align: center;
}

.share-link {
  margin-bottom: 0.625em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .share-link {
    margin-bottom: 0;
    margin-right: 0.625em;
    text-align: left;
  }
}

.share-link:last-child {
  margin-right: 0;
}

.share-msg {
  margin-bottom: 1.25em;
}

